<body>
  <mat-toolbar>  
    <mat-toolbar-row>
      <img class="logo" src="./assets/static/descargar.png" width="20%" height="20%" alt="">
      <h1 class="Alumnos" face = "sans-serif" size = "6" color = "black"> 
        <b>Alumnos USM</b>
      </h1>
    </mat-toolbar-row>
  </mat-toolbar>
    <div class="grid-container">
      <mat-card class="noticias">
          <mat-card-title class="titulo_noticias"><b>Noticias</b></mat-card-title>
          <mat-card-header>
            <a href="https://www.youtube.com/watch?v=9EqNVlrvWmo&ab_channel=USM"><mat-card-title>Semana de la Mujer y Disidencias USM</mat-card-title></a>
          </mat-card-header>
          <a href="https://www.youtube.com/watch?v=9EqNVlrvWmo&ab_channel=USM"><img mat-card-image class="imagen1" src="assets/static/semanaMujer.jpg" alt="Plataformas Estudiantiles"></a>
          <mat-card-content>
            <br>
            <p>En la primera Semana de la Mujer y Disidencias USM, 
              organizada por el Proyecto Ingeniería 2030 junto a los 
              Centros de Estudiantes.</p>
          </mat-card-content>

          <mat-card-header>
            <a href="https://www.youtube.com/watch?v=uP7PRLNYXow&ab_channel=USM"><mat-card-title>Conoce SAT-E</mat-card-title></a>
        </mat-card-header>
        <br>
        <a href="https://www.youtube.com/watch?v=uP7PRLNYXow&ab_channel=USM"><img mat-card-image class="imagen2" src="assets/static/sat-e.jpg" alt="Plataformas Estudiantiles"></a>
        <mat-card-content>
          <br>
            <p>El Sistema de Acompañamiento a la Trayectoria Estudiantil consolida información 
          institucional y genera alertas 
              académicas con el objetivo de activar acciones de acompañamiento integral para los estudiantes.</p>
              
        </mat-card-content>
      </mat-card>
      
      <mat-card class="secciones">
          <mat-card-header>
              <mat-card-title></mat-card-title>
          </mat-card-header>
          <mat-card-content>
                
          <div class="div1">
            <br>

            <b>Plataformas Estudiantiles</b>
            <ul>
              <li><a href="https://aula.usm.cl/portada/index.php">Aula</a></li>
              <li><a href="https://siga.usm.cl/pag/index.jsp">Siga</a></li>
              <li><a href="http://mail.sansano.usm.cl/">Web Mail</a></li>
              <li><a href="https://gestal.usm.cl/">Gestal</a></li>
              <li><a href="https://usm.trabajando.com/">Trabajando USM</a></li>
              <li><a href="http://ayudantias.mat.utfsm.cl/">SPA (Sistema postulación ayudantías)</a></li>
            </ul>
            <br>
           <b>Recursos Campus</b>
            <ul>
              <li><a href="https://biblioteca.usm.cl/inicio">Biblioteca</a></li>
              <li><a href="https://bibliotecadigital.usm.cl/">Biblioteca Digital</a></li>
              <li><a href="https://casino.usm.cl/solicitud/">Casino</a></li>
              <li><a href="https://evaluacionservicios.usm.cl/welcome">Encuesta Evaluación Campus</a></li>
            </ul>
            <br>
            <b>Beneficios Estudiantiles</b>
            <ul>
              <li><a href="https://www.fondos.usm.cl/">Fondos Concursables</a></li>
              <li><a href="https://rree.usm.cl/atencion-social-beneficios/becas-usm/">Becas</a></li>
              <li><a href="https://sireb.usm.cl/">Sistema de Atención de Alumnos (SIREB)</a></li>
              <li><a href="https://dti.usm.cl/">Software Gratuito</a></li>
            </ul>
            <br>
            <b>Programas de Intercambio</b>
            <ul>
              <li><a href="https://oai.usm.cl/movilidad/">Movilidad Estudiantil</a></li>
              <li><a href="https://oai.usm.cl/">Oficina de Asuntos Internacionales</a></li>              
            </ul>

          </div>


          <div class="div2">
            <br>

            <b>Reglamentos y protocolos</b>
            <ul>
              <li><a href="https://assets.usm.cl/siga/docs/175_2023_DECRETO_-_Regl_Inst_Derechos_Deberes_y_Discip_Estudiantado.pdf">Reglamento de Derechos, Deberes y Disciplina del estudiantado </a></li>
              <li><a href="https://secretariageneral.usm.cl/normativa/">Normativas y Políticas</a></li>
              <li><a href="https://contraloriageneral.usm.cl/normativas-internas/">Normativas internas</a></li>
              <li><a href="https://autoservicio.usm.cl/docs/usmtransparente/protocolos/Protocolo_para_la_Prevencion_y_Sancion_de_Conductas_de_Acoso_Sexual.pdf">Protocolo para la prevención y sanción de conductas de acoso sexual, discriminación y violencia de género</a></li>
              <li><a href="https://noticias.usm.cl/wp-content/uploads/2021/12/PROTOCOLO_29DIC2021.pdf">Protocolo Covid</a></li>
            </ul>
            <br>
            <b>Calendario académico</b>
            <ul>
              <li><a href="https://vra.usm.cl/wp-content/uploads/2023/03/Calendario-Acade%CC%81mico-2023-Semestral-v3.pdf">Calendario Académico 2023 Semestral</a></li>
              <li><a href="https://vra.usm.cl/wp-content/uploads/2023/03/Calendario-academico-2023-semestral-v3.xlsx">Calendario Académico 2023 Semestral Excel</a></li>
              <li><a href="https://vra.usm.cl/wp-content/uploads/2023/03/Calendario-Acade%CC%81mico-2023-trimestral-v2.pdf">Calendario Académico 2023 Vespertino Trimestral</a></li>
              <li><a href="https://vra.usm.cl/wp-content/uploads/2023/03/Calendario-academico-2023-trimestral-v2.xlsx">Calendario Académico 2023 Vespertino Trimestral Excel</a></li>
            </ul>
            <br>
            <b>Contacto</b>
            <ul>
              <li><a href="https://dee.usm.cl/">Dirección de estudios</a></li>
              <li><a href="https://rree.usm.cl/">Dirección de relaciones estudiantiles</a></li>
              <li><a href="https://usm.cl/contacto-alumnos/">Contacto Alumnos</a></li>
            </ul>

          </div>

          </mat-card-content>
      </mat-card>
    
      <!--
      <mat-card class="noticias2">
          <mat-card-header>
              <a href="https://www.youtube.com/watch?v=uP7PRLNYXow&ab_channel=USM"><mat-card-title>Conoce SAT-E</mat-card-title></a>
          </mat-card-header>
          <br>
          <a href="https://www.youtube.com/watch?v=uP7PRLNYXow&ab_channel=USM"><img mat-card-image class="imagen2" src="assets/static/sat-e.jpg" alt="Plataformas Estudiantiles"></a>
          <mat-card-content>
            <br>
              <p>El Sistema de Acompañamiento a la Trayectoria Estudiantil consolida información 
            institucional y genera alertas 
                académicas con el objetivo de activar acciones de acompañamiento integral para los estudiantes.</p>
                
          </mat-card-content>
      </mat-card>
      -->
    </div>
</body>