<body>

  <mat-toolbar>  
    <mat-toolbar-row>
      <img class="logo" src="./assets/static/descargar.png" width="20%" height="20%" alt="">
      <h1 class="Alumnos" face = "sans-serif" size = "6" color = "black"> 
        <b>Alumnos USM</b>
      </h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <div class="grid-container">
      <mat-card class="primero">
          <mat-card-header>
              <mat-card-title>Plataformas Estudiantiles</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="imagen" src="assets/static/semanaMujer.jpg" alt="Plataformas Estudiantiles">
          <mat-card-content>
              <p>noticia en desarrollo</p>
          </mat-card-content>
      </mat-card>
      <div class="grid-item secciones">links</div>
      <mat-card class="primero">
          <mat-card-header>
              <mat-card-title>MAS NOTICIAS</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="imagen" src="assets/static/semanaMujer.jpg" alt="Plataformas Estudiantiles">
          <mat-card-content>
              <p>noticia en desarrollo</p>
          </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>