<body>

  <mat-toolbar>  

    <mat-toolbar-row>
      <img src="./assets/static/descargar.png" width="20%" height="20%" alt="">
      <p class="Alumnos">
        Alumnos USM
      </p>
      
    </mat-toolbar-row>
  
  <mat-toolbar-row class="barra_botones">
      <button mat-raised-button (click)="cambiar(1)"> Plataformas Estudiantiles</button>
      <button mat-raised-button (click)="cambiar(2)"> Recursos Campus</button>
      <button mat-raised-button (click)="cambiar(3)"> Beneficios Estudiantiles</button>
      <button mat-raised-button (click)="cambiar(4)"> Programas de Intercambio</button>
      <button mat-raised-button (click)="cambiar(5)"> Calendario Académico</button>
      <button mat-raised-button (click)="cambiar(6)"> Reglamentos y Protocolos</button>
      <button mat-raised-button (click)="cambiar(7)"> Contacto</button>
  </mat-toolbar-row>  
  </mat-toolbar>

  <div [ngSwitch]="categoria">
    <div *ngSwitchCase="'Plataformas Estudiantiles'">
      <app-plataformas-estudiantiles></app-plataformas-estudiantiles>
    </div>
    <div *ngSwitchCase="'Recursos Campus'">
      <app-recursos-campus></app-recursos-campus>
    </div>
    <div *ngSwitchCase="'Beneficios Estudiantiles'">
      <app-beneficios-estudiantiles></app-beneficios-estudiantiles>
    </div> 
    <div *ngSwitchCase="'Programas de Intercambio'">
      <app-programas-de-intercambio></app-programas-de-intercambio>
    </div>
    <div *ngSwitchCase="'Calendario Académico'">
      <app-calendario-academico></app-calendario-academico>
    </div>
    <div *ngSwitchCase="'Reglamentos y Protocolos'">
      <app-beneficios-estudiantiles></app-beneficios-estudiantiles>
    </div> 
    <div *ngSwitchCase="'Contacto'">
      <app-contacto></app-contacto>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>