<div class="grid-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Plataformas Estudiantiles</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/static/grudank.jpg" alt="Plataformas Estudiantiles">
        <mat-card-content>
            <p>hola</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <a href="https://www.w3schools.com"></a>
        <mat-card-header>
            <mat-card-title>Plataformas Estudiantiles</mat-card-title>
        </mat-card-header>
        <img href="https://www.w3schools.com" mat-card-image src="assets/static/grudank.jpg" alt="Plataformas Estudiantiles">
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Plataformas Estudiantiles</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/static/grudank.jpg" alt="Plataformas Estudiantiles">
        <mat-card-content>
            <p>hola</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Plataformas Estudiantiles</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/static/grudank.jpg" alt="Plataformas Estudiantiles">
        <mat-card-content>
            <p>hola</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Plataformas Estudiantiles</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/static/grudank.jpg" alt="Plataformas Estudiantiles">
        <mat-card-content>
            <p>hola</p>
        </mat-card-content>
    </mat-card>
</div>